.animal-card {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: space-between;
  margin: 16px;
  max-width: 300px;
  padding: 16px;
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.animal-card:hover {
  border-color: #6205db;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.2);
  transform: translateY(-5px);
}

.animal-card__image-container {
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 16px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.animal-card__image {
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.animal-card__details {
  padding: 8px 0 0 0;
  margin-top: auto;
  text-align: left;
}

.animal-card__name {
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 1.75em;
  margin: 0;
}

.animal-card__description,
.animal-card__category,
.animal-card__birthday,
.animal-card__age {
  color: #666;
  font-family: 'Arial', sans-serif;
  margin: 8px 0;
}

.animal-card__description {
  font-size: 1em;
}

.animal-card__category,
.animal-card__birthday,
.animal-card__age {
  font-size: 0.9em;
}

.animal-card__delete-button {
  align-self: flex-end;
  background-color: #ff4d4d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.animal-card__delete-button:hover {
  background-color: #ff1a1a;
}